<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Parser</title>
</head>
<style>
    body{
        font-family: 'Lucida Grande', monospace;
        font-size: 15px;
    }
</style>
<body>
    <h1>Resume Parser</h1>
    <p>by Jake Enea</p>
    <a href="{{url_for('submit')}}" >Submit resumes</a>
    <p>---------------------------------------------------------------</p>

    <h2>Results</h2>
        
        <pre>{{ results }}</pre>
         
</body>
<br><br><br>
</html>